<section class="section contact-me" data-section="section4">
	<div class="container">
		<div class="section-heading">
			<h2>İletişim</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>
		<div class="row">
			<div class="right-content">
				<div class="container">
					<form id="contact" action="/Home/Iletisim" method="post">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control" name="Ad" placeholder="Adınız" />
							</div>
							<input type="text" class="form-control" name="Soyad" placeholder="Soyadınız" />

							<div class="col-md-12">
								<input type="text" class="form-control" name="Konu" placeholder="Konu" />

							</div>
							<div class="col-md-12">
								<input type="text" class="form-control" name="Mesaj" placeholder="Mesajınız" />

							</div>
							<div class="col-md-12">
								<fieldset>
									<button type="submit" id="form-submit" class="button">
										Mesaj Gönder
									</button>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
