@model IndexVM
<html lang="tr">

<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />





</head>




@await Html.PartialAsync("/Views/Shared/Partial/Hakkimda.cshtml")



@await Html.PartialAsync("/Views/Shared/Partial/Yeteneklerim.cshtml")




<section class="section my-work" data-section="section3">
	<div class="container">
		<div class="section-heading">
			<h2>My Work</h2>
			<div class="line-dec"></div>
			<span>
				Aenean sollicitudin ex mauris, lobortis lobortis diam euismod sit
				amet. Duis ac elit vulputate, lobortis arcu quis, vehicula
				mauris.
			</span>
		</div>
		<div class="row">
			<div class="isotope-wrapper">
				<form class="isotope-toolbar">
					<label>
						<input type="radio"
							   data-type="*"
							   checked=""
							   name="isotope-filter" />
						<span>all</span>
					</label>
					<label>
						<input type="radio"
							   data-type="people"
							   name="isotope-filter" />
						<span>people</span>
					</label>
					<label>
						<input type="radio"
							   data-type="nature"
							   name="isotope-filter" />
						<span>nature</span>
					</label>
					<label>
						<input type="radio"
							   data-type="animals"
							   name="isotope-filter" />
						<span>animals</span>
					</label>
				</form>
				<div class="isotope-box">
					<div class="isotope-item" data-type="nature">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-01.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-01.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>First Title</h4>
								<span>free to use our template</span>
							</figcaption>
						</figure>
					</div>

					<div class="isotope-item" data-type="people">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-02.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-02.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>Second Title</h4>
								<span>please tell your friends</span>
							</figcaption>
						</figure>
					</div>

					<div class="isotope-item" data-type="animals">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-03.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-03.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>Item Third</h4>
								<span>customize anything</span>
							</figcaption>
						</figure>
					</div>

					<div class="isotope-item" data-type="people">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-04.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-04.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>Item Fourth</h4>
								<span>Re-distribution not allowed</span>
							</figcaption>
						</figure>
					</div>

					<div class="isotope-item" data-type="nature">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-05.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-05.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>Fifth Awesome</h4>
								<span>Ut sollicitudin risus</span>
							</figcaption>
						</figure>
					</div>

					<div class="isotope-item" data-type="animals">
						<figure class="snip1321">
							<img src="/assets/images/portfolio-06.jpg"
								 alt="sq-sample26" />
							<figcaption>
								<a href="/assets/images/portfolio-06.jpg"
								   data-lightbox="image-1"
								   data-title="Caption">
									<i class="fa fa-search"></i>
								</a>
								<h4>Awesome Sixth</h4>
								<span>Donec eget massa ante</span>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section contact-me" data-section="section4">
	<div class="container">
		<div class="section-heading">
			<h2>Contact Me</h2>
			<div class="line-dec"></div>
			<span>
				Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,
				efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor
				sit amet, consectetur adipiscing elit.
			</span>
		</div>
		<div class="row">
			<div class="right-content">
				<div class="container">
					<form id="contact" action="" method="post">
						<div class="row">
							<div class="col-md-6">
								<fieldset>
									<input name="name"
										   type="text"
										   class="form-control"
										   id="name"
										   placeholder="Your name..."
										   required="" />
								</fieldset>
							</div>
							<div class="col-md-6">
								<fieldset>
									<input name="email"
										   type="text"
										   class="form-control"
										   id="email"
										   placeholder="Your email..."
										   required="" />
								</fieldset>
							</div>
							<div class="col-md-12">
								<fieldset>
									<input name="subject"
										   type="text"
										   class="form-control"
										   id="subject"
										   placeholder="Subject..."
										   required="" />
								</fieldset>
							</div>
							<div class="col-md-12">
								<fieldset>
									<textarea name="message"
											  rows="6"
											  class="form-control"
											  id="message"
											  placeholder="Your message..."
											  required=""></textarea>
								</fieldset>
							</div>
							<div class="col-md-12">
								<fieldset>
									<button type="submit" id="form-submit" class="button">
										Send Message
									</button>
								</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section my-work" data-section="section5">
	<div class="resume-section-content">
		<div class="section-heading">
			<h2>Eğitim</h2>
			<div class="line-dec"></div>
			<span>

			</span>
		</div>


		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">OKUL</h3>
				<div class="subheading mb-3">Fakülte</div>
				<div>Bölüm</div>

			</div>
			<div class="flex-shrink-0"><span class="text-primary">mezun</span></div>


		</div>


	</div>
</section>

</html>
