<section class="section my-services" data-section="section2">
	<div class="container">
		<div class="section-heading">
			<h2>Yeteneklerim</h2>
			<div class="line-dec"></div>

		</div>
		<div class="row">
			@foreach (Yeteneklerim y in Model.Yeteneklerim)
			{
				<div class="col-md-6">
					<div class="service-item">

						<span class="material-symbols-outlined" style="font-size:50px">
							keyboard
						</span>

						<h4>@y.Baslik</h4>

					</div>
				</div>
			}

		</div>
	</div>
</section>
